* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --green: #46972C;
    --blue: #043C8B;
    --shedow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --card-shedow: 0px 4px 94px rgba(0, 0, 0, 0.25);
    --text: #494444;
    --red:#9F0D0D;
}

/*  =====================addmishon- hero section=================
============================================================  */
.addmishon-hero {
    background: url(../img/about-us.jpg);
    background-size: cover;
    background-position: center;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    width: 100%;
    height: 514px;
}

.addmishon-hero::before {
    position: absolute;
    display: block;
    content: "";
    background-color: #dddcdc;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 514px;
    opacity: 0.3;
}

.apply {
    position: relative;
    width: 737px;
    height: 61px;
    top: 225px;
    bottom: 228px;
}

.heading {
    transform: matrix(-1, 0, 0, 1, 0, 0);
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: var(--blue);
    z-index: 1px;
}

/*  =====================THF ADMISSION PROCEDURE=================
============================================================  */

.tha-addmition-procedure {
    margin-top: 48px;
}

.green-line {
    position: absolute;
    background:var(--green);
    border-radius: 5px;
    width: 11.03px;
    height: 110px;
    margin-top: 10px;
    margin-left: 110px;
}

.admission-box {
    padding-left: 60px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color:var(--text);
    margin-bottom: 50px;
}

.admission-box-h2{
    font-weight: 700;
    font-size: 48px;
    /* line-height: 58px; */
    color: var(--blue);
}

.admission-box-pre{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color:var(--text);
}
/* ====================card circle=============== */
.card-circle {
    width: 230.02px;
    height: 217px;
    left: 169px;
    top: 846px;
    box-shadow: var(--card-shedow);
    border-radius: 400px;
    margin: 0px auto 64px auto;
}

.sing-up {
    font-weight: 700;
    font-size: 20px;
    line-height: 187.5%;
    text-align: center;
    text-shadow: var(--shedow);
    padding-top: 20px;
}

.click-here {
    font-weight: 800;
    font-size: 18px;
    line-height: 187.5%;
    color: #9F0D0D;
    text-shadow: 0px 4px 4px var(--shedow);
}

.step {
    width: 99.28px;
    height: 36.96px;
    margin-left: auto;
    margin-right: auto;
    background: var(--green);
    border-radius: 8px;
    padding-top: 6px;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 187.5%;
}
.step-01{
    background-color: var(--blue);
}
